.formContainer{
display: flex;
   width: 400px;
   flex-wrap: wrap;
   margin: auto;
  margin-top: 80px;
  justify-content: center;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 80px;
  margin-bottom: 200px;
}

.formTwo{
    padding: 35px;
    background: white;
    border-radius: 48px;
}
