.mainImg{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    
    
}

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
   height: 1300px;
  
}

.card{
    margin: 10px;
    padding: 10px;
    flex: 40%;
}

.projectPic{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    /* margin: 20px; */
}

.portfoliosContainer{
    display: flex;
}

.demodeply{
    background: rgb(62, 97, 235);
    margin: 10px;
   padding:10px;
   border-radius: 20px;
   color: white;
   text-decoration: none;
}

.parent{
    display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
}